@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
body{
    width:100%;
    margin:auto;
    padding:0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(217, 242, 255);
}

.headerContainer {
    width: 990px;
    margin: 0 auto;
}

.headerOfHeaderContainer {
    background: #6396bc;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nav {
    float: right;
    margin-left: 50px;
    padding-top: 5px;
}

li{
    list-style: none;
    float: left;
    margin-left:200px;
    padding-top: 30px;
}