

body {
    font-family: 'Lato';
    color: #69b7fc;  /* text in form background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.welcometext {
  font-size: 30;
}
.fontchange_name{
  color:rgb(202, 224, 101);
  font-weight: bolder;
  font-family: Bahnschrift;
  font-size: 60;
}

.fontchange{
  color:rgb(202, 224, 101);
  font-weight: bolder;
  font-family: Bahnschrift;
  font-size: 30;
}

div .centertext {
    text-align: center;
    margin:1px;
}
form {

    background: #d3dbdd; /* form background */
    border-radius: 15px;
  }
  
#signuptext{
    margin: 0 0 5px 0;
    text-align: center;
    color: #1e5d8a /* sign up text color */
  }
  
  input[type="name"],
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    background: rgba(133, 15, 15, 0.1);
    border: none;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #1e5d8a; /* sign up text color */
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
.container_gender {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"] {
    margin: 1 5px 6px 1;
  }
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  z-index: 10;
  margin: 0 10px 10px 0;
  position: relative;
  color: #ced4da;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #ced4da;
  cursor: pointer;
  transition: all 200ms ease;
}

input[type="radio"]:checked + label {
  color: #495057;
  background-color: #ced4da;
}

input[type="radio"] + label {
  padding: 5px 20px;
  border-radius: 10px;
}

input[type="submit"] {
  border-color:rgb(108, 148, 153);
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1e5d8a;
  width: 30%;
  padding:5px 15px; 
  background:rgb(215, 250, 248); 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  font-size: xx-large;
}

input[type="date"] {
  margin: 1 2px 3px 1;
  width: 100%;
  background-color:#ffffff;
  
  }


select {
    padding: 2px;
    height: 25px;
    border-radius: 4px;
  }
  
  
  button {
    padding: 19px 25px 18px 0px;
    display:block;
    margin: auto;
    color: rgb(136, 100, 255);
    background-color: #274f94;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 75%;
    border: 1px solid #3edcff55;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(148, 128, 128, 0.1) inset;
    margin-bottom: 5px;
  }
  

  
  legend {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin: 5;

  }


  
  label.light {
    font-weight: 300;
    display: inline;
  }

  label.agreementform {
    font-weight: 300;
    display: inline;
  }
  
@media screen and (min-width: 400px) {

  form {
    max-width: 320px;
  }
  
  }