@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
body{
    width:100%;
    margin:auto;
    padding:0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(217, 242, 255);
}

.headerContainer {
    width: 990px;
    margin: 0 auto;
}

.headerOfHeaderContainer {
    background: #6396bc;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nav {
    float: right;
    margin-left: 50px;
    padding-top: 5px;
}

li{
    list-style: none;
    float: left;
    margin-left:200px;
    padding-top: 30px;
}


#goTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #b1c2ff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #goTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.8);
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #181818;
	font-weight: 900;
}

.booking-cta p {
	font-size: 22px;
	color: #181818;
}

.booking-form {
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
	max-width: 642px;
	width: 200%;
	margin: auto;
	padding: 40px 30px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 40px;
	padding: 0px;
	padding-top: 15px;
	color: #181818;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-control::placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-group:not(.input-not-empty) .form-control:not(:focus) {
	color: transparent;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 7px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.2);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: rgba(0, 0, 0, 0.2);
	font-weight: 700;
	position: absolute;
	top: 20px;
	left: 0px;
	text-transform: uppercase;
	line-height: 24px;
	height: 23px;
	font-size: 16px;
	pointer-events: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group .form-control:focus+.form-label {
	top: 0px;
	color: #6396bc;
	font-size: 14px;
}

.booking-form .form-group.input-not-empty .form-label {
	top: 0px;
	color: #6396bc;
	font-size: 14px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #6396bc;
	font-weight: 700;
	height: 55px;
	padding: 10px 35px;
	font-size: 18px;
	border: none;
	display: block;
	width: 100%;
	text-transform: capitalize;
}